body
{
background-color:#a0c1b9;
font-family:"Lucida Calligraphy", serif;
font-size:100%;
}

h1
{
color:#ffffff;
text-align:center;
font-size:3em;
font-size: 170px;
}

h2
{
color:#dddddd;
text-align:left;
font-size:1.5em;
}

p
{
color:#f4e8c1;
font-size:1em;
}

#par1
{
color:#f4e8c1;	
}

#par2
{
colour:#f4e8c1;
}



